<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.infmenergy.InfmApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bkv_energy_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bkv_energy_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfmEnergy"
        tools:targetApi="31">

        <activity
            android:name="com.infmenergy.ui.screens.activity.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.InfmEnergy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>